<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>MobileCoach (MC) - Report</title>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
<style type="text/css">
body {
	font-family: Tahoma, Arial, sans-serif;
	padding: 20px 20px 20px 20px;
	font-size: 0.9em;
}

.ui-widget {
	font-family: Tahoma, Arial, sans-serif;
}

h1 {
	font-size: 1.5em;
	text-align: center;
}

h2 {
	color: gray;
	font-size: 1.3em;
}

h3 {
	color: gray;
	font-size: 1.2em;
}

p {
	font-size: 1em;
}

a {
	color: darkgray;
	text-decoration: none;
}

footer {
	padding-top: 20px;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2px;
	font-size: 0.9em;
}

th, td {
	border: 2px solid lightgray;
	padding: 2px 2px 2px 2px;
	vertical-align: top;
	white-space: pre-line;
}

th {
	font-weight: bold;
	text-align: left;
	background-color: rgb(247, 247, 247);
	width: 20%;
}

.warn {
	color: red;
	font-weight: bold;
}

.yes {
	color: green;
}

.no {
	color: red;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript">
	var config = {
		mediaObjectBaseURL : "{{{mediaObjectBaseURL}}}"
	};

	var showMediaObject = function(reference) {
		var w = window.open(config.mediaObjectBaseURL + reference, "_blank");
		w.focus();
	};

	$(function() {
		$("#accordion").accordion({
			collapsible : true,
			heightStyle : "content"
		});
		$("#accordion-surveys").accordion({
			collapsible : true,
			heightStyle : "content"
		});
	});
</script>

</head>

<body>
	<h1>Report of intervention "{{intervention.name}}"</h1>
	<div id="accordion">
		<h2>Basic Settings</h2>
		<div>{{{intervention}}}</div>
		<h2>Surveys</h2>
		<div id="accordion-surveys">
			<h3>Screening Surveys</h3>
			<div>{{{screeningSurveys}}}</div>
			<h3>Intermediate Surveys</h3>
			<div>{{{intermediateSurveys}}}</div>
		</div>
		<h2>Monitoring Rules</h2>
		<div>{{{monitoringRules}}}</div>
		<h2>Monitoring Message Groups and Messages</h2>
		<div>{{{monitoringMessageGroups}}}</div>
	</div>

	<footer>Created using MobileCoach {{version}} at {{timestamp}}</footer>
</body>

</html>
